*{
    padding: 0;
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
}
body,html{
    box-sizing: border-box;
}

/* element styles */
body{
    background: #ECEBEB;
}
main{
    width: 80%;
    margin: 0 auto;
}





/* header styles */
header{
    position: sticky;
    padding: 1em 0;
    top:0;
    background: #800040;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-circle{
    position: absolute;
    top:14px;
    left:427px;
}

.header-name h2{
    color:white;
    text-transform: capitalize;
}
.header-nav{
    height:4vh;
    display: flex;
    justify-content: space-around;
    flex-grow: .3;
    font-weight: lighter;
}
.header-nav a{
    
    text-transform: capitalize;
    color:white;
    text-decoration: none;
}
.header-nav a:hover{
  border-bottom: 2px solid white;
}
.header-icons{
    color:white;
    flex-grow: .4;
    display: flex;
    justify-content: center;
}
.other-icons{
    display:flex;
    flex-grow:0.05;
    justify-content: space-between;
}
.fa-search{
    color:white;
}
.fa-bell{
    color:#FF80C0;
}






/* main styles */
section.info-section{
    background: white;
    margin-top: 2em;
    box-shadow: 0 12px 24px rgba(0,0,0,16%);
}
.display-main{
    margin: 0 auto;
    width: 90%;
    padding: 1em;
}
.display-info{
    text-align: center;
}
.myimg{
    margin-top: .5em;
    text-align: center;
}

.display-info button{
    cursor: pointer;
    text-transform: capitalize;
    margin-top: 1em;
    color:white;
    padding:.5em 1em;
    background:#FF80C0 ;
    border:none;
    border-radius:0px 60px 60px 40px;
    box-shadow: 0 2px 4px #800040;
    font-size: 1.3em;
    transition: background 400ms ease;
}
.display-info button:hover{
    background: rgb(184, 82, 133);
}
.display-info h1{
    margin-bottom: .2em;
    font-size: 3em;
    text-transform: uppercase;
    color:#800040;
}
.display-info p{
    color:#800040;
}
h1+p{
    font-weight: bold;
}
img{
 border:.5px solid rgb(248, 247, 247);
    box-shadow: 0 12px 24px rgba(0,0,0,16%);
    border-radius: 50%;
}

.display-icon{
    margin-right:5em;
    color:#800040;
}


section.about{
    margin-top: 2em;
    background: #800040;
    padding: 2em;
    box-shadow: 0 6px 12px #37011C;
}
.about-header{
    padding:.8em;
    color:white;
    font-weight: normal;
    margin: 0 2em;
}
.fa-user-circle{
    font-size: 1.5em;
    margin-right:.2em ;
    color:#FF80C0 ;
}
.about-notes{
    padding:2em;
    background: white;
    width:90%;
    margin: 0 auto;
    border-radius: 40px 40px 40px 40px;
}
.about-notes p{
    color:#800040;
    text-align: justify;
}
section.bio{
    padding: 2em;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background: white;
    margin-top: 2em;
    box-shadow: 0 12px 24px rgba(0,0,0,16%);
}
.bio-info{
    flex-grow: .2;
}
.bio-name{
    color: #800040;
}
.bio-info-details{
    border: 1px solid rgb(211, 210, 210);
    border-radius: 40px 40px;
    box-shadow: 0 12px 24px rgba(0,0,0,16%);
    padding:2em;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.bio-info-details p{
    line-height: 2em;
    text-transform: capitalize;
    color:#800040;
}
.fa-pen-square{
    font-size: 10em;
    color:#800040;
}

section.choose-me{
    margin-top: 2em;
    padding: 2em;
    background: white;
    box-shadow: 0 12px 24px rgba(0,0,0,16%);
}
.choose-me h3{
    color: #800040;
    text-align: center;
    text-transform: capitalize;
   padding-top: 1em;
}
.choose-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:85%;
    margin: 0 auto;
}
.fa-laptop,.fa-business-time,.fa-folder-open{
    font-size: 5em;
    color: #800040;
    padding-top: .3em;
}
.device,.quality,.time{
    margin-top: 2em;
    width: 30%;
  
    background: white;
    box-shadow: 0 12px 24px #9B9999;
}
.device-item,.time-item,.quality-item{
   text-align: center;
}
.device-item p,.time-item p,.quality-item p{
    line-height: 1.5em;
    color: #800040;
    margin-top:.5em;
}
.device-item h4,.time-item h4,.quality-item h4{
    text-decoration: underline;
    text-transform: capitalize;
    color: #800040;
    margin-top:1em;
}
section.get-in-touch{
    margin-top:2em;
    background: white;
    padding-bottom: 1em;
}
.get-name{
    background: #800040;
    color:white;
    text-align: center;
    
}
.get-name h3{
    padding: .6em 0;
    text-transform: capitalize;
}
.get-image img{
    width: 100%;
    margin-right: 80px;
}
.get-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:80%;
    margin: 0 auto;
   
}
label{
    
    color: #800040;
}
::placeholder{
    color: rgb(190, 190, 189);
}
.contact-form{
    margin-top: 1em;
  width:100%;
}
.contact-form input{
    border: 1px solid #800040;
    width: 100%;
    padding:1em;
}
[type='submit']{
    cursor: pointer;
    background: #FF80C0;
    width:30% !important;
    border-radius:0px 60px 60px 40px;
    box-shadow: 0 2px 4px #800040;
    border: none !important;
    color:white;
    text-transform: capitalize;
    font-size: 1em;
    padding: .5em 0 !important;
    margin-top: 1em;
    transition: background 400ms ease;
}
[type='submit']:hover{
    background: rgb(184, 82, 133);
}
textarea{
    width:100%;
    resize: none;
    border:1px solid #800040;
}












/* footer styles */
footer{
    background: #800040;
}
a{
    text-decoration: none;
    color:white;
    cursor: pointer;
}
footer h3{
    color: white;
    text-transform: uppercase;
}
.footer-wrapper{
    margin-top: 2em;
    display: flex;
    align-items:center;
    justify-content: space-between;
    max-height:500px;
    box-shadow:0 -1px 4px #250415;
}
.footer-menu{
    display: flex;
}
.footer-menu p{
    font-size: .9em;
    color: white;
    margin: 0 1em;
    text-transform: uppercase;
}
.footer-menu p:hover{
    color:#FF80C0;
    cursor: pointer;
}
.social-icons{
    font-size: 2em;
    display:flex;
    color:white;
    margin: .5em 21em;
   
}

.fa-instagram-square,.fa-facebook-square,.fa-github-square,
.fa-twitter-square,.fa-linkedin{
    margin: 0 .5em;
}

.footer-trademark{
    color: white;
    margin-right: 2em;
}





















@media screen and (max-width:720px){
    header{
        width:100%;
        display: block;
    }
    .header-name{
        text-align: center;
    }
    .header-nav{
        margin: 1em 0;
    }
    .about-notes{
        width:70%;
        font-size: .8em;
    }
    section.bio{
        display: block;
    }
    .info-section{
        display:block;
    }
    .bio-icon{
       font-size:.7em;
    }
    .device-item p,.time-item p,.quality-item p{
        font-size: .8em;
    }
    .display-info{
        display: block;
        text-align: center;
    }
    img{
        display:block;
    }
    .details1,.details2{
        font-size:.5em;
        width: 100%;
    }
    .choose-items{
        display:block;
    }
    .device,.quality,.time{
        width:100%;
    }
    
    .other-icons{
        justify-content: space-evenly;
      
    }
    [type='submit']{
        padding-right: 4em !important;
        margin-top:0em;
    }
   
    .social-icons{
        display: block;
        margin: 0 1em;
    }
    .footer-wrapper{
        display: block;
    }
    .footer-menu{
      display: block;
      text-align: center;
    }
    .footer-trademark{
        float: right;
    }
    .social-icons{
        margin: 0;
    }
    .fa-pen-square{
        font-size:3em;
    }
}