*{
    padding: 0;
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
}
body,html{
    box-sizing: border-box;
}

/* element styles */
body{
    background: #ECEBEB;
}
main{
    width: 80%;
    margin: 0 auto;
}





/* header styles */
header{
    background: #800040;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-name h2{
    color:white;
    text-transform: capitalize;
}
.header-nav{
    display: flex;
    justify-content: space-around;
    flex-grow: .3;
    font-weight: lighter;
}
.header-nav a{
    color:white;
    text-decoration: none;
}
.header-icons{
    color:white;
    flex-grow: .4;
    display: flex;
    justify-content: center;
}
.other-icons{
    display:flex;
    flex-grow:0.05;
    justify-content: space-between;
}
.fa-search{
    color:white;
}
.fa-bell{
    color:#FF80C0;
}






/* main styles */
section.info-section{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background: white;
    margin-top: 2em;
    box-shadow: 0 12px 24px rgba(0,0,0,16%);
}
.display-info{
   margin: 2em;
}
.display-info h1::after{
    content:' .';
}
.display-info button{
    text-transform: capitalize;
    margin-top: 2em;
    color:white;
    padding:.5em 1em;
    background:#FF80C0 ;
    border:none;
    border-radius:0px 60px 60px 40px;
    box-shadow: 0 2px 4px #800040;
    font-size: 1.3em;
}
.display-info h1{
    margin-bottom: .2em;
    font-size: 3em;
    text-transform: uppercase;
    color:#800040;
}
.display-info p{
    color:#800040;
}
h1+p{
    font-weight: bold;
}
.display-pic img{
    border:.5px solid rgb(248, 247, 247);
    box-shadow: 0 12px 24px rgba(0,0,0,16%);
    border-radius: 50%;
    margin-right:8em;
}
.mysvg{
   position: absolute;
   left:600px;
   top:100px;
}
.fa-comment-dots{
    color:white;
    font-size: 1.3em;
    position: absolute;
    left:620px;
   top:120px;
}
.display-icon{
    margin-right:5em;
    color:#800040;
}


section.about{
    margin-top: 2em;
    background: #800040;
    height: 40vh;
    box-shadow: 0 6px 12px #37011C;
}
.about-header{
    padding:.8em;
    color:white;
    font-weight: normal;
    margin: 0 2em;
}
.fa-user-circle{
    font-size: 1.5em;
    margin-right:.2em ;
    color:#FF80C0 ;
}
.about-notes{
    padding:2em;
    background: white;
    width:90%;
    margin: 0 auto;
    border-radius: 40px 40px 40px 40px;
}
.about-notes p{
    color:#800040;
    text-align: justify;
    line-height: 1.5em;
}
section.bio{
    height: 50vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background: white;
    margin-top: 2em;
    box-shadow: 0 12px 24px rgba(0,0,0,16%);
}
.bio-info{
    flex-grow: .2;
   
}
.bio-name{
    color: #800040;
}
.bio-info-details{
    border: 1px solid rgb(211, 210, 210);
    border-radius: 40px 40px;
    box-shadow: 0 12px 24px rgba(0,0,0,16%);
    padding:2em;
    display: flex;
    justify-content:space-between;
}
.bio-info-details p{
    line-height: 2em;
    text-transform: capitalize;
    color:#800040;
}
.fa-pen-square{
    font-size: 10em;
    color:#800040;
}

section.choose-me{
    margin-top: 2em;
    height: 60vh;
    background: white;
    box-shadow: 0 12px 24px rgba(0,0,0,16%);
}
.choose-me h3{
    color: #800040;
    text-align: center;
    text-transform: capitalize;
   padding-top: 1em;
}
.choose-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:85%;
    margin: 0 auto;
}
.fa-laptop,.fa-business-time,.fa-folder-open{
    font-size: 5em;
    color: #800040;
    padding-top: .3em;
}
.device,.quality,.time{
    margin-top: 2em;
    width: 30%;
    height: 40vh;
    background: white;
    box-shadow: 0 12px 24px #9B9999;
}
.device-item,.time-item,.quality-item{
   text-align: center;
}
.device-item p,.time-item p,.quality-item p{
    line-height: 2em;
    color: #800040;
    margin-top:.5em;
}
.device-item h4,.time-item h4,.quality-item h4{
    text-decoration: underline;
    text-transform: capitalize;
    color: #800040;
    margin-top:1em;
}













/* footer styles */